<!-- IF not S_IS_BOT and U_MARK_FORUMS --><a class="nav" href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a><!-- ENDIF -->

<!-- BEGIN forumrow -->

	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or  forumrow.S_NO_CAT -->
		</section><!-- /cc_mobile_category -->
	<!-- ENDIF -->
	
	<!-- IF forumrow.S_IS_CAT -->
		<section class="cc_mobile_category">
			<h2><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2>
			
			<ul class="cc_mobile_forum">
	<!-- ELSE -->
		<li>
			<a class="forumlink" href="{forumrow.U_VIEWFORUM}">
				<p class="forumlink">{forumrow.FORUM_NAME}</p>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
			</a>
		</li>
	<!-- ENDIF -->
	
	<!-- IF forumrow.S_LAST_ROW -->
			</ul><!-- /cc_mobile_forum -->
		</section><!-- /cc_mobile_category -->
	<!-- ENDIF -->

<!-- END forumrow -->