/**
 * Author: Keith Brinks
 * keithbrinks@me.com
 * http://keithbrinks.com
 */

/**
 * Some Simple Resets
 */
* { margin: 0; padding: 0; }
img { border: 0; }
a { text-decoration: none; outline: none; }
header, section, footer, aside, nav, article, figure { display: block; }


/**
 * Main Layout Structure
 */
body {
	background-color: #202020;
	color: #c0c0c0;
	font: 12px arial;
}

#cc_mobile_container {
	padding: 5px;
}

/**
 * Header
 */
#cc_mobile_header {
	background-color: #007BBF;
}

/**
 * Category and Forum Lists
 */
.cc_mobile_category {
	margin-bottom: 10px;
}

.cc_mobile_category h2 a {
	color: #ffffff;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.6;
}

.cc_mobile_forum {
	border-top: 2px solid #2d91c7;
}

.cc_mobile_forum li a {
	background-color: #404040;
	border-bottom: 1px solid #505050;
	border-left: 1px solid #505050;
	border-right: 1px solid #505050;
	display: block;
	padding: 10px;
}

.cc_mobile_forum li a:hover {
	background-color: #555555;
}

.cc_mobile_forum li a .forumlink {
	color: #ffffff;
	font-weight: bold;
}

.cc_mobile_forum li a .forumdesc {
	color: #808080;
}